<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mars App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        body {
            font-family: 'Courier New', monospace;
        }
    </style>
</head>
<body>

    <div class="container-fluid">
        <div class="jumbotron text-center">
          <h1><strong>Mission to Mars</strong></h1>
          <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Martian Data Now!</a></p>
        </div>
    </div>

    <br>
    <br>

    <div class="row">
    <div class="col-md-12">
        <div class="mars-news-container">
        <article><h2><strong>Latest Mars News</strong></h2>
        <h3>{{ mars.news_article_title }}</h3>
        <h4>{{ mars.news_article_p }}</h4>
        </article>
        </div>
    </div>
    </div>

    <br>
    <br>

    <div class="row">
        <div class="col-md-7"><h2><strong>Featured Martian Image</strong></h2>
        <br>
       <img src = {{mars.featured_image_url}} width="400px" height="350px">
        </div>

        <div class="col-md-5"><h2><strong>Mars Facts</strong></h2>
        <br>
        <!-- {{ mars.facts_table_html }} -->
        <table border="1" class="dataframe"> 
            <thead> <tr style="text-align: right;"> <th></th> <th>Parameters</th> <th>Values</th> </tr> </thead>
             <tbody> 
                <tr> <th>0</th> <td>Equatorial Diameter:</td> <td>6,792 km</td> </tr> 
                <tr> <th>1</th> <td>Polar Diameter:</td> <td>6,752 km</td> </tr> 
                <tr> <th>2</th> <td>Mass:</td> <td>6.39 × 10^23 kg (0.11 Earths)</td> </tr> 
                <tr> <th>3</th> <td>Moons:</td> <td>2 ( Phobos &amp; Deimos )</td> </tr> 
                <tr> <th>4</th> <td>Orbit Distance:</td> <td>227,943,824 km (1.38 AU)</td> </tr> 
                <tr> <th>5</th> <td>Orbit Period:</td> <td>687 days (1.9 years)</td> </tr> 
                <tr> <th>6</th> <td>Surface Temperature:</td> <td>-87 to -5 °C</td> </tr> 
                <tr> <th>7</th> <td>First Record:</td> <td>2nd millennium BC</td> </tr> 
                <tr> <th>8</th> <td>Recorded By:</td> <td>Egyptian astronomers</td> </tr> 
            </tbody> 
        </table>
        </div>
        
      </div>

    <br>
    <br>

    <div class="row">
        <div class="col-md-12">
            <div style="text-align: center;"><h2><strong>Mars Hemispheres</strong></h2></div>
            <br>
            {{ mars.hemispheres  }}
    </div>
    </div>

</body>
</html>